<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
 
<style type="text/css">
   .no-padding {
		 padding:1px;
	}


	.chat-window:focus {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	}

	.chat-window {
	 display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
	border-color: #66afe9;
    border: 1px solid #ccc;
    border-radius: 4px;
	overflow-y:auto;
	}

  </style>

</head>

<body ng-app="chat">



  <div class="container" ng-controller="curCntrl as vm">
    <div class=row>
      <div class="col-xs-12">
        <h1>Hello {{vm.userName}}!</h1>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 chat-window" style="height:260px;">
			<span ng-repeat="item in vm.chatHistory track by $index">{{vm.chatHistory[$index]}}<br></span>

       <!-- <form id="reciveForm">
          <textarea type="text" class="form-control" readonly="" style="height:260px;" ng-model="vm.chatData"></textarea>
        </form> -->
      </div>
    </div>

    <div class="row">

      <form id="sendForm">
        <div class="col-xs-4 no-padding">
          <div class="input-group">
            <span class="input-group-addon">
      <input type="checkbox">
    </span>
            <input type="text" class="form-control" placeholder="Ваше Имя" ng-model="vm.userName">
          </div>
        </div>
        <div class="col-xs-8 no-padding">
          <div class="input-group">
            <input type="text" class="form-control" autofocus ng-model="vm.sayString">
            <span class="input-group-btn">
          <button class="btn btn-default" type="submit" ng-click="vm.sendString()">Send</button>
        </span>
          </div>
        </div>

      </form>
    </div>


  </div>

  
  <!--end of controller-->


<script>

var chatHistory=[];



function timeNow(){
  date=new Date();
 return ("[" + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + "] ...");
  
};



/*

function subscribe() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/subscribe", true);
        xhr.onreadystatechange = function() {
            if (this.readyState != 4) return;
            if (this.status != 200) {
                setTimeout(subscribe, 500);
                return;
            }
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(this.responseText));
            messages.appendChild(li);
            subscribe();
        };
        xhr.send(null);
    };

*/



var app=angular.module('chat', []);

app.service('sendService', function($http){
  return {
   sendToServer:  function(data){
	$http.post('/publish', JSON.stringify({message: data}));     

//chatHistory.push(timeNow() + " " + data);
   }
  };
});

app.service('getService', getService);

 function getService($http, $interval){
return {
getFromServer: function(){

function autoUpdate(){
$http.get('/subscribe').then(function(response){
if(response.status !=200) {$interval(function(){autoUpdate();},500); return;}

chatHistory.push(timeNow() + " " + response.data);

autoUpdate();
})//response
}//autoUpdate
autoUpdate();
}//getFromServer
}//return obj
}//getService




	//return $http.get('/subscribe',true);


//      var newPromise=$timeout(function(){
//        
//        return chatHistory.join('\n');
//        
//      },1000);
//      
//      return newPromise;
   

app.controller('curCntrl', function(sendService, getService){
  var vm=this;

getService.getFromServer();

vm.chatData=chatHistory.join('\n');

//vm.chatInfo=getService.getFromServer();

//console.log(chatHistory);

vm.chatHistory=chatHistory;
//vm.chatData=vm.chatHistory.join('\n');



//console.log(vm.chatHistory.join("!"));


/*  $interval(function(){
  getService.getFromServer().then(function(response){ 
//	console.log(response);
chatHistory.push(timeNow() + " " + response.data);
vm.chatData=chatHistory.join('\n');


});    
  },5000);  */
  
    //alert(response);
  
    
  vm.userName="Plunder";
  
  
  
  vm.sendString=function(){
//   console.log("inter");
   if(vm.sayString!==null) {
   sendService.sendToServer(vm.userName+": "+ vm.sayString);
   vm.sayString=null;
   }
  }
  //console.log(vm);
});
//console.log(chatHistory);



</script>








</body>

</html>
