<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
 
</head>

<body ng-app="chat">



  <div class="container" ng-controller="curCntrl as vm">
    <div class=row>
      <div class="col-xs-12">
        <h1>Hello {{vm.userName}}!</h1>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12">

        <form id="reciveForm">
          <textarea type="text" class="form-control" readonly="" style="height:260px;" ng-model="vm.chatData"></textarea>
        </form>
      </div>
    </div>

    <div class="row">

      <form id="sendForm">
        <div class="col-xs-4 no-padding">
          <div class="input-group">
            <span class="input-group-addon">
      <input type="checkbox">
    </span>
            <input type="text" class="form-control" placeholder="Ваше Имя" ng-model="vm.userName">
          </div>
        </div>
        <div class="col-xs-8 no-padding">
          <div class="input-group">
            <input type="text" class="form-control" autofocus ng-model="vm.sayString">
            <span class="input-group-btn">
          <button class="btn btn-default" type="submit" ng-click="vm.sendString()">Send</button>
        </span>
          </div>
        </div>

      </form>
    </div>

  </div>

  
  <!--end of controller-->


<script>

var chatHistory=[];

function timeNow(){
  date=new Date();
 return ("[" + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + "] ...");
  
}

var app=angular.module('chat', []);

app.service('sendService', function($http){
  return {
   sendToServer:  function(data){
	$http.post('/publish', JSON.stringify({message: data}));     

//chatHistory.push(timeNow() + " " + data);
   }
  };
});

app.service('getService', function($http){
  return {
    getFromServer: function(){
      //console.log("service");

	return $http.get('/subscribe',true);


//      var newPromise=$timeout(function(){
//        
//        return chatHistory.join('\n');
//        
//      },1000);
//      
//      return newPromise;
         
    }
  };
});

app.controller('curCntrl', function(sendService, getService, $interval){
  var vm=this;
  //vm.check="kjsdhgjk";
  
  //$timeout(function(){return getService.getFromServer(); },60000).success(function(response){});
  
  $interval(function(){
  getService.getFromServer().then(function(response){ 
//	console.log(response);
chatHistory.push(timeNow() + " " + response.data);
vm.chatData=chatHistory.join('\n');


});    
  },5000);
  
    //alert(response);
  
    
  vm.userName="Plunder";
  
  
  
  vm.sendString=function(){
//   console.log("inter");
   if(vm.sayString!==null) {
   sendService.sendToServer(vm.userName+": "+ vm.sayString);
   vm.sayString=null;
   }
  }
  //console.log(vm);
});
//console.log(chatHistory);



</script>








</body>

</html>
